@import "tailwindcss";

@theme {
  --color-base: #030712;
  --color-surface-card: #0B0F19;

  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
}

@layer base {
  body {
    @apply bg-base text-white font-sans antialiased overflow-x-hidden;
  }
}